# Ignore node_modules and npm cache directories
node_modules
npm-debug.log

.env

# Ignore package-lock.json and yarn.lock files
package-lock.json
yarn.lock

# Ignore IDE-specific files and directories
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore OS-specific files and directories
.DS_Store
Thumbs.db

# Ignore other temporary and unnecessary files
*.DS_Store
*.log
*.tmp
*.swp

# Code bundling utility and output
bundle.js
bundled_codebase.txt